<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
                    
<bean id="capitalBean" class="com.jspider.springs.bean.Capital">
<property name="capitalNm" value="Delhi" />
</bean>

<!--DI WITH SETTER METHOD-->
 <bean id="countryBean" class="com.jspider.springs.bean.Country">
          <property name="countryName" value="India" />
</bean> 

<bean id="bBean" class="com.jspider.springs.bean.B">
<property name="aRef" ref="aBean" />
</bean>
<bean id="aBean" class="com.jspider.springs.bean.A">
<property name="bRef" ref="bBean" />
</bean>
</beans>

